body {
    font-family: sans-serif;
  }
  
  #chat {
    width: 500px;
    margin: 0 auto;
  }
  
  #users {
    border: 1px solid black;
    padding: 10px;
  }
  
  #messages {
    border: 1px solid black;
    padding: 10px;
  }
  
  #form {
    margin-bottom: 10px;
  }
  
  #message {
    width: 200px;
  }
  
  #send {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  